<option>08:00</option>
<option>00:00</option>
{{!-- <option>00:30</option> --}}
<option>01:00</option>
{{!-- <option>01:30</option> --}}
<option>02:00</option>
{{!-- <option>02:30</option> --}}
<option>03:00</option>
{{!-- <option>03:30</option> --}}
<option>04:00</option>
{{!-- <option>04:30</option> --}}
<option>05:00</option>
{{!-- <option>05:30</option> --}}
<option>06:00</option>
{{!-- <option>06:30</option> --}}
<option>07:00</option>
{{!-- <option>07:30</option> --}}
<option>08:00</option>
{{!-- <option>08:30</option> --}}
<option>09:00</option>
{{!-- <option>09:30</option> --}}
<option>10:00</option>
{{!-- <option>10:30</option> --}}
<option>11:00</option>
{{!-- <option>11:30</option> --}}
<option>12:00</option>