<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css"/>
		<title>Nom, Nom, Nom</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/html.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
