{{!-- the left and right buttons --}}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-between">
        <li class="page-item">
            <a class="pageButton page-link" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a class="pageButton page-link" href="/meds">Next</a>
        </li>
    </ul>
</nav>

<div class="container">
    <!-- Calendar -->
    <div class="scene_element scene_element--fadeinleft">
        <div class="row justify-content-center">
            <div class="col col-lg-8">
                <h1 id="calTitle">Upcoming Doses</h1>
                <div id='calendar'></div>
            </div>
        </div>
        <div class="d-flex justify-content-around add-pill-div">
            <button class="bttn" data-toggle="modal" data-target="#pillModal">
                <svg width="277" height="62">
                    <defs>
                        <linearGradient id="grad1">
                            <stop offset="0%" stop-color="#E5F3FF" />
                            <stop offset="100%" stop-color="#196BB2" />
                        </linearGradient>
                    </defs>
                    <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
                </svg>
                <span>Add Pill</span>
                </a>
            </button>
        </div>
    </div>


    <!-- Modal for the add pill button -->
    <div class="modal fade" id="pillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Medication</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="pill-form" id={{key}}>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Medication Name: </label>
                            <input type="text" class="form-control new-title" id="rx-name" placeholder="Ibuprofen">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Quantity: </label>
                            <input type="text" class="form-control new-quantity" id="quantity" placeholder="40">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Dosage: </label>
                            <input type="text" class="form-control new-dosage" id="dosage" placeholder="800mg">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Frequency Amount: </label>
                            <input type="text" class="form-control new-dosage" id="freq-amt" placeholder="2">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Frequency timeframe: </label>
                            <input type="text" class="form-control new-dosage" id="freq-time" placeholder="6">
                        </div>
                        <div class="form-group">
                            <select id="freq-int" class="form-control">
                                <option>Hour</option>
                                <option>Day</option>
                                <option>Week</option>
                                <option>Month</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="hidden" value={{key}} id="user-id">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="new-pill" class="btn btn-primary change-title">Save New
                                Medication</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>