<div class="container col-10" id="tile-cont">
    <h2 id="title">Current Prescriptions</h2>
    <div class="text-center d-flex justify-content-around">
    {{#each pills}}
        {{> tiles}}
    {{/each}}
    </div>
</div>