<h1>Let's Eat! Burger Edition</h1>

<h2>These are our potential victims:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger-buttons}}
    {{/unless}}
  {{/each}}
</ul>

<h2>These made it to my belly:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger-buttons}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Gotta try this one!
  </div>

  <button type="submit">Add Burger</button>
</form>