<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-between">
        <li class="page-item">
            <a class="pageButton page-link" href="/" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a class="pageButton page-link">Next</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-10">
            <div class="scene_element scene_element--fadeinright">
                <div class="row">
                    <div class="col" id="tile-cont">
                        <h2 id="title">Current Prescriptions</h2>
                        <div class="row justify-content-center">
                            {{#each pills}}
                            {{> tiles}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for the pills -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content infoModal">
            <div class="modal-header">
                <h5 class="modal-title" id="carringtonsNameData"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="overviewContent"></p>
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item infoRelatedPills">
                                <a data-toggle="tab" class="nav-link active" href="#relatedMeds">Related Rx's</a>
                            </li>
                            <li class="nav-item dosingInfoParsed">
                                <a data-toggle="tab" class="nav-link" href="#dosing">Dosing</a>
                            </li>
                            <li class="nav-item doNotUseWith precautionMedicalConditions infoBlackBox">
                                <a data-toggle="tab" class="nav-link" href="#precautions">Precautions</a>
                            </li>
                            <li class="nav-item whatToWatchForSummary">
                                <a data-toggle="tab" class="nav-link" href="#whatToWatchFor">Watch For</a>
                            </li>
                            <li class="nav-item sideEffectsLists">
                                <a data-toggle="tab" class="nav-link" href="#sideEffects">Side-Effects</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="relatedMeds" class="tab-pane fade in card-body active show infoRelatedPills">
                            <h5 class="card-title">Related Rx's</h5>
                            <p class="card-text" id="infoRelatedPills">With supporting text below as a
                                natural
                                lead-in to additional
                                content.</p>
                        </div>
                        <div id="dosing" class="tab-pane fade in card-body dosingInfoParsed">
                            <h5 class="card-title">Dosing</h5>
                            <p class="card-text" id="dosingInfoParsed">With supporting text below as a natural
                                lead-in to
                                additional
                                content.</p>
                        </div>
                        <div id="precautions" class="tab-pane fade in card-body doNotUseWith precautionMedicalConditions infoBlackBox">
                            <h5 class="card-title">Precautions</h5>
                            <h6>Never take this medication with the following: </h6>
                            <p class="card-text" id="doNotUseWith"></p>
                            <h6>The presence of other medical problems may affect the use of this medicine. Make
                                sure you tell your doctor if you have any other medical problems, especially: </h6>
                            <p class="card-text" id="precautionMedicalConditions"></p>
                            {{!-- <div class="card-text" id="precautionMedicalConditions">testing</div> --}}
                            <h5>FDA Warning Label: </h5>
                            <p class="card-text" id="infoBlackBox"></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div id="sideEffects" class="tab-pane fade in card-body sideEffectsLists">
                            <h5 class="card-title">Side-Effects</h5>
                            <h6>Along with its needed effects, a medicine may cause some unwanted effects. Although
                                not all of these side effects may occur, if they do occur they may need medical
                                attention.Check with your doctor immediately if any of the following side effects
                                occur: </h6>
                            <p class="card-text" id="sideEffectsLists"></p>
                        </div>
                        <div id="whatToWatchFor" class="tab-pane fade in card-body whatToWatchForSummary">
                            <h5 class="card-title">What To Watch For</h5>
                            <p class="card-text" id="whatToWatchForSummary">With supporting text below as a
                                natural
                                lead-in to additional
                                content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back to Prescriptions</button>
            </div>
        </div>
    </div>
</div>