form.signup,
form.login {
  margin-top: 30px;
}
body {
    background-image: url("https://www.xmple.com/wallpaper/orange-pink-gradient-linear-1920x1080-c2-f6be53-ed376d-a-90-f-14.svg");
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
}
.tile {
  height: 150px;
  width: 150px;
  margin: 10px auto;
  padding: 0;
  background-size: cover;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .3);
}
#tile-cont {
background-color:rgba(255, 255, 255, .4);
padding: 20px
}
#title {
  color: white;
  text-align: center; 
}
#calendar {
  display: block;
  margin: 40px auto ;
  text-align: center;
}

#calTitle {
  text-align: center;
  color: white;
  margin-top: 30px;
  font-family: 'Zniric';
  font-size: 53px;

}

.pillName {
  background-color: rgba(0, 0, 0, .5); 
  color: white; 
  width: 100%; 
  margin: 0;
}

.fc-scroller {
  border-radius: 30px; 
}

.fc-left >h2 {
  font-size: 20px;
  text-align: center;
}

.col-md-offset-3 >h2 {
  text-align: center;
}

.form-control {
  text-align: center;
}

.submitButton {
  margin: 5px auto;
}

.middlePage {
  margin-top: 200px;
}
.centered {
  text-align: center
}

.bttn {
  border: transparent;
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  font-size:17px;
  letter-spacing: 0.045em;
  margin-top: 40px;
}

.bttn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.bttn svg rect {
  stroke: rgb(234, 166, 50);
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.bttn span{
background: rgb(229, 243, 255);
background: -moz-linear-gradient(left,  rgba(229, 243, 255,1) 0%, rgb(227, 186, 191) 100%);
background: -webkit-linear-gradient(left,  rgba(229, 243, 255,1) 0%,rgba(227, 186, 191,1) 100%);
background: linear-gradient(to right,  rgba(229, 243, 255,1) 0%,rgba(227, 186, 191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5F3FF', endColorstr='#196BB2',GradientType=1 );

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.bttn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

.add-pill-div {
margin-bottom: 20px;
}

.pageButton {
  border-radius: 30px;
  color: black; 
  background-color: rgba(255, 255, 255, .5);
  margin-top: 40px;

}

.fc-widget-content {
  border-radius: 30px; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

  /** Basic styles for an animated element */
.scene_element {
    animation-duration: .7s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: both;

}

.scene_element--fadein {
    animation-name: fadeIn;
}

.scene_element--fadeinleft {
    animation-name: fadeInLeft;
}

.scene_element--fadeinright {
    animation-name: fadeInRight;
}

@font-face {
  font-family: 'Zniric';
  src: url(../images/zrnic\ rg.ttf)
}

.deleteButton {
  background-color: rgba(0, 255, 255, 0.651);
  border-radius: .1rem;
  padding: .2rem;
  position: absolute;
  z-index: 5;
  right: 0px;
  top: 0px;
  color: white;
  font-weight: bolder;
}