form.signup,
form.login {
  margin-top: 30px;
}
body {
    background-image: url("https://www.xmple.com/wallpaper/orange-pink-gradient-linear-1920x1080-c2-f6be53-ed376d-a-90-f-14.svg");
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;

}
.tile {
  height: 150px;
  width: 150px;
  margin: 10px auto;
  padding: 0;
  border-radius: 20px;
  background-size: cover;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .3);
}
#tile-cont {
  background-color:rgba(255, 255, 255, .4);
  padding: 35px;
  border-radius: 20px;

}

.containerBackground {
  padding: 30px;
}

#imageElement {
  padding: 20px;
}

#imageElement > img {
  height: 150px;
  width: auto; 
  border-radius: 10px;
}

#title {
  color: white;
  text-align: center; 
  font-family: 'Vonique';
  font-size: 33px;
  margin-left: -16px; 
  margin-right: -16px;
}

#calendar {
  display: block;
  margin: 40px auto ;
  text-align: center;
}

#calTitle {
  text-align: center;
  color: white;
  margin-top: 30px;
  font-family: 'Vonique';
  font-size: 42px;

}

.pillName {
  background-color: rgba(0, 0, 0, .5); 
  color: white; 
  width: 100%; 
  margin: 0;
}

.fc-scroller {
  border-radius: 15px; 
}

.fc-left >h2 {
  font-size: 20px;
  text-align: center;
}

.submitButton {
  margin: 5px auto;
}

.fc-unthemed td.fc-today {
  background: #fcf8e3;
  border-radius: 0px;
}

.middlePage {
  margin-top: 200px;
}
.centered, .form-control, .col-md-offset-3 >h2 {
  text-align: center
}

.bttn {
  border: transparent;
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  font-size:17px;
  letter-spacing: 0.045em;
  margin-top: 40px;
}

.bttn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.bttn svg rect {
  stroke: rgb(234, 166, 50);
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.bttn span{
background: rgb(229, 243, 255);
background: -moz-linear-gradient(left,  rgba(229, 243, 255,1) 0%, rgb(227, 186, 191) 100%);
background: -webkit-linear-gradient(left,  rgba(229, 243, 255,1) 0%,rgba(227, 186, 191,1) 100%);
background: linear-gradient(to right,  rgba(229, 243, 255,1) 0%,rgba(227, 186, 191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5F3FF', endColorstr='#196BB2',GradientType=1 );

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.bttn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

.add-pill-div {
margin-bottom: 20px;
}

.pageButton {
  border-radius: 30px;
  color: black; 
  background-color: rgba(255, 255, 255, .5);
  margin-top: 40px;

}

.nav-item {
  font-size: 16px;
  color: white;
}

.nav-link {
  color: white;
}

.card-body {
  height: 200px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 20px;
}

.card-header {
  background-color: rgba(238,87,104,.7);
  border-radius: 20px !important;
  margin-bottom: 20px;
}
.card {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 20px;
}
.fc-widget-content {
  border-radius: 20px; 
}

.modal-content {
  background-color: rgba(255, 255, 255, .8)
}
.modal-header, .modal-footer {
  background-color: rgba(245, 160, 12, 0.824)
}

.modal-title {
  color: white;
}

#overviewContent {
  overflow-y: auto;
  height: 80px;
  border-radius: 8px;


}

#new-pill {
  background-color: rgba(238,87,104,1)
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.badModal {
  border-radius: 30px;
  border: 0px;
  height: 200px;
}

.removeButton {
  top: 13px !important;
  right: 14px !important;
}
  /** Basic styles for an animated element */
.scene_element {
    animation-duration: .7s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: both;

}

.scene_element--fadein {
    animation-name: fadeIn;
}

.scene_element--fadeinleft {
    animation-name: fadeInLeft;
}

.scene_element--fadeinright {
    animation-name: fadeInRight;
}

@font-face {
  font-family: 'Vonique';
  src: url(../images/Vonique\ 64\ Bold.ttf)
}

.deleteButton {
  background-color: rgba(40, 44, 46, 0.797);
  border-radius: 7px;
  padding: .2rem;
  padding-right: 9px;
  padding-left: 9px;
  position: absolute;
  font-size: 13px;
  z-index: 5;
  right: 10px;
  top: 8px;
  color: white;
  font-weight: bolder;
}
